@font-face {
    font-family: "myfont";
    src: url("../font/always\ forever.ttf") format("truetype");
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    max-width: 1900px;
    margin: 0 auto;
    background-color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #3a3a3a;
}

.nav a {
    display: block;
    transition: 0.2s;
}

.nav a:hover {
    color: #3a3a3a;
    transition: 0, 2s;
    transform: scale(1.1);
}

#top {
    position: relative;
}

.logo {
    width: 13%;
    height: 10%;
}

svg:hover {
    fill: #3a3a3a;
    transition: 0, 2s;
}

/* 
  NAV,USER
  */

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.3rem;
}

.nav_content {
    margin: 0 20px;
    list-style: none;
}

.nav_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin: 0 20px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #f1e5e6;
    transition: height 0.3s ease-in-out;
}

.nav-mobile {
    font-size: 40px;
    flex-direction: column;
}

.mobile-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding-top: 150px;
    display: none;
}

.mobile-content {
    padding: 20px;
}

.display {
    display: block;
}

#burger {
    z-index: 30;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
    .navbar-nav {
        display: none;
    }
}

@media only screen and (min-width: 700px) {
    .menu {
        display: none;
    }
}

/* 
  Main
*/

main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: myfont;
    color: #e4dadb;
    font-size: 80px;
}

.subheader {
    text-align: center;
    padding-bottom: 20px;
}

.budget p {
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 50px;
    border-bottom: solid 5px #f1e5e6;
}

.main-content {
    padding-top: 150px;
    display: flex;
}

.main {
    padding-top: 80px;
}

.main-p {
    text-align: center;
}

.main-header {
    background-color: #3a3a3a;
    color: #e4dadb;
    text-align: center;
    padding: 60px;
    align-self: center;
    margin-top: auto;
}

.main-svg {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.main-svg svg {
    width: 50%;
}

.main-svg li {
    border: solid 3px white;
    padding: 70px;
    margin: 40px;
    text-align: center;
}

label {
    font-size: 1.3rem;
    transition: all 0.2s ease;
}

input,
textarea {
    border: 5px solid white;
    padding: 5px;
    margin: 15px;
    border: 5px solid white;
    text-align: center;
    transition: 0.3s ease-in-out;
    font-size: 1.3rem;
}

.input {
    border: solid 5px #f1e5e6;
    padding: 5px;
    margin: 15px;
    text-align: center;
    transition: 0.3s ease-in-out;
    font-size: 1.3rem;
}

button {
    z-index: 10;
    border: 2px solid #3a3a3a;
    background-color: #3a3a3a;
    color: #f1e5e6;
    text-align: center;
    align-self: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    margin: 1rem;
}
.button {
    z-index: 10;
    border: 2px solid #3a3a3a;
    background-color: #3a3a3a;
    color: #f1e5e6;
    text-align: center;
    align-self: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    margin: 1rem;
}

button:hover {
    color: #3a3a3a;
    background-color: #f1e5e6;
    border: 2px solid #f1e5e6;
    transform: scale(1.1);
}

button:focus {
    transform: scale(1.1);
}

.main-form {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    background-color: #f1e5e6;
    margin-bottom: 100px;
}

.main-body {
    background-color: #f1e5e6;
}

.form {
    border: solid 3px white;
    padding: 70px;
    margin: 40px;
    background-color: #f1e5e6;
}

h2 {
    align-self: center;
    font-family: myfont;
    font-size: 50px;
}

h3 {
    font-family: myfont;
    font-size: 50px;
}

.main-text {
    text-align: center;
    margin-top: 80px;
}

.checklist {
    text-align: center;
    border: solid 3px #f1e5e6;
    padding: 70px;
    margin: 40px;
}

.checklist li {
    padding: 25px;
    box-shadow: 2px 2px 9px -3px rgba(0, 0, 0, 0.5);
    background-color: white;
    margin: 25px;
    display: flex;
    justify-content: space-between;
}

.checklist svg {
    width: 3%;
}

.inspiration img {
    padding: 80px 0;
}

.change:hover {
    z-index: 10;
}

.inspiration {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.main-budgetrechner .budgetrechner li {
    flex-basis: 33, 3%;
}

.main-inspiration .inspiration li {
    flex-basis: 33, 3%;
}

.budgetrechner div {
    border: solid;
    border-width: 0px 0 1px;
    border-style: solid;
    border-color: #f1e5e6;
}

.inspiration div {
    background-color: #e4dadb;
    color: #3a3a3a;
    text-align: center;
    position: absolute;
    z-index: -1;
    height: 330px;
    align-self: center;
    width: 530px;
    margin-top: -20px;
}

.content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.gallery img {
    max-width: 100%;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
}
.gallery img:hover {
    box-shadow: 0 0 32px #333;
}
.gallery .content {
    padding: 4px;
}
.gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
.gallery .gallery-item:hover {
    transform: scale(1.025);
}
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}
@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

.aboutme {
    display: flex;
    justify-content: space-between;
}

.aboutme p {
    border: solid 4px #f1e5e6;
    padding: 25px;
    margin: 15px;
    align-self: center;
}

.budget {
    flex-basis: 50%;
    justify-content: space-between;
}

.budgetrechner {
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
}

.blog {
    background: url(../assets/blog.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    max-width: inherit;
}

.blog_text {
    text-align: center;
    border: solid 5px #f1e5e6;
    padding: 50px;
    margin: 35px;
    background-color: rgba(241, 228, 230, 0.65);
}

.blogdetail{
    background: url(../assets/blogdetail.png);
    background-size: cover;
    background-color: #3a3a3a;
    background-position: center;
    background-blend-mode: soft-light;
    max-width: inherit;
}

.errorpage {
    background: url(../assets/404.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    max-width: inherit;
}

.errortext {
    margin-top: 450px;
    font-size: larger;
    padding-bottom: 50px;
}

.errorheader {
    color: #3a3a3a;
}

/*
FOOTER
*/

footer {
    background-color: #3a3a3a;
    color: #ffffff;
    padding: 30px 0;
    margin-top: 70px;
}

.to-top {
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text ul {
    display: flex;
}

.footer-text ul li {
    margin: 20px;
}

.footersvg {
    fill: #ffffff;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.footerlink {
    color: #f1e5e6;
}

.footer-text ul li a:hover {
    transition: 0, 2s;
    transform: scale(1.1);
}

.footerlogo {
    width: 50%;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .footer {
        display: inline;
        text-align: center;
    }

    .footer-text ul {
        display: inline-flex;
    }
}
